<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        button(id="btnSignIn", value="Sign Into Azure")
        script(src="https://cdn.jsdelivr.net/npm/@azure/identity@1.1.0/dist/index.min.js")
        script(src="azsignin.js")