<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title You're Logged In!
        script(src="auth.js")
    body
        h1 Congratulations on logging in successfully